{% extends 'base.html' %}

{% block content %}
<h4>Post list</h4>
    <div>
        {% if user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            <a href="{% url 'posts:post_create' %}" class="btn btn-primary btn-block" style="margin-bottom: 10px">글 작성하기</a>
        </form>
        <form action="{% url 'members:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-block" style="margin-bottom: 10px">로그아웃</button>
        </form>
        <form action="{% url 'members:withdraw' %}" method="POST">
           {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-block" style="margin-bottom: 10px">회원탈퇴하기</button>
        </form>
        {% else %}
        <a href="{% url 'members:login' %}"><button class="btn btn-primary btn-block" style="margin-bottom: 10px">로그인</button></a>
        <a href="{% url 'members:signup' %}"><button class="btn btn-info btn-block" style="margin-bottom: 10px">회원가입 하기</button></a>
        <form action="" method="POST">
            {% csrf_token %}
            <a href="{% url 'posts:post_create' %}" class="btn btn-info btn-block" style="margin-bottom: 10px">글 작성하기</a>
        </form>
        {% endif %}
    </div>
{% for post in posts %}
    <div>
        <div style="float: left; margin-right: 5px; margin-top: 7px"><p>{{ post.author.username }}</p></div>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary btn-sm" style="margin-top: 5px;">Follow</button>
            </form>
        </div>
        {% if post.photo %}
            <div><a href="{% url 'posts:post_detail' post.pk %}"><img width="100%" src="{{ post.photo.url }}" alt=""></a></div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}