{% extends 'base.html' %}

{% block content %}
<h4>Post detail</h4>
<div>
    <div>{{ post.author.username }}</div>
    {% if post.photo %}
    <div><img width="100%" src="{{ post.photo.url }}" alt=""></div>
    {% endif %}
    <p class="form-control">{{ post.content }}</p>
    <form action="{%  url 'posts:delete' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-block" style="margin-top: 10px">삭제</button>
    </form>
</div>
{% endblock %}