{% extends 'base.html' %}

{% block content %}
<h4>login page</h4>
<form action="" method="post">
    {% csrf_token %}
    <div>
        <input type="text" name="username" class="form-control" placeholder="ID">
        <input type="password" name="password" class="form-control" placeholder="password">
        <div>
            <form action="" method="POST">
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
            </form>
        </div>
    </div>
</form>
{% endblock %}