<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign_up</title>
</head>
<body>
    <form action="{% url 'members:signup' %}" method="POST">
        <input type="text" name="username">
        {% csrf_token %}
        <input type="password" name="password">
        <button type="submit">가입하기</button>
    </form>
</body>
</html>